html, body {
    margin: 0;
    background-color: black;
}

nav {
  z-index: 1;
  background-color: transparent;
}

nav ul {
  top: 1rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  right: 23rem;
  z-index: 1;
}

nav ul li {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  transition: 0.4s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
}

nav ul li:hover {
  color: black;
  background-color: white;
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

/* HOME */

#home {
  background-color: black;
  color: white;
  position: relative;
  top: 5rem;
  height: 50rem;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro {
  position: relative;
  left: 45rem;
  top: 5rem;
}

.intro h1 {
  font-size: 70px;
}

.intro h3 {
  width: 30rem;
  letter-spacing: 1px;
  font-size: 25px;
}

.picture {
  border: white solid 5px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  left: 12rem;
  top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT ME */

#about {
  background-color: white;
  height: 55rem;
  display: flex;
  justify-content: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

#about h1{
  position: relative;
  top: -20rem;
  left: 20rem;
  width: 25rem;
  text-align: center;
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div1 {
  background-color: transparent;
  position: absolute;
  left: 5rem;
  top: 10rem;
  width: 10rem;
  height: 10rem;
  border-top: 1rem solid #ff004f;
  border-left: 1rem solid #ff004f;
}

.div2 {
  background-color: transparent;
  position: absolute;
  left: 29rem;
  bottom: 10rem;
  width: 10rem;
  height: 10rem;
  border-bottom: 1rem solid #ff004f;
  border-right: 1rem solid #ff004f;
}

.aboutpicture {
  border: black solid 1px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 10rem;
  top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,.8);
}

.description {
  width: 40rem;
  height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  position: relative;
  left: 3rem;
}

/* PROJECTS */

#projects {
  position: relative;
  height: 65rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects h1 {
  position: relative;
  top: -25rem;
  left: 40rem;
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects {
  position: relative;
  right: 7rem;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.projects div {
  height: 600px;
  border: white solid;
  width: 400px;
  border-radius: 15px;
}

/* RESUME */

#resume {
  width: 100%;
  height: 80rem;
  background-color: white;
  display: flex;
  justify-content: center;
}

#resume h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: 3rem;
  font-size: 45px;
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 30rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 30rem;
  width: 20rem; 
}

.left h1 {
  font-size: 55px;
}

.download {
  width: 12rem;
  height: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ff004f;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 2rem;
}

.right {
  position: relative;
  top: 1.5rem;
  right: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

form input, form textarea {
  border-radius: 10px;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
}
